POSTGRES_DB=FormsManagementDb
POSTGRES_USER=archive_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
JWT_SECRET=CHANGE_ME_MINIMUM_32_CHARACTERS_LONG_SECRET
JWT_ISSUER=FormsManagementAPI
JWT_AUDIENCE=FormsManagementClients
JWT_EXP_MIN=60
JWT_REFRESH_DAYS=7
ATTACHMENT_ENCRYPTION_KEY_BASE64=CHANGE_ME_BASE64_32_BYTES
